data=./miniImageNet/
split-dir=./split/mini/
save-path=./result_miniImageNet
logname=baseline_rrc.log
arch=resnet18
lr=0.1
num-classes=64
batch-size=256
epochs=100
optimizer=SGD
meta-val-interval=10
meta-val-shot=5
workers=40
scheduler=multi_step
print-freq=50

seed=0
data-type = miniImageNet
pointing-aug-eval

meta-cloning = True
clone-factor-1shot = 20
clone-factor-5shot = 4
clone-augment-method = randomresizedcrop
pointing-aug-sample-type = none